{% extends 'base.html.twig' %}

{% block title %}LET's PLAY !! {% endblock %}

{% block body %}
<form method="post" action="{{path('play')}}">
  <label>Merci de tirer une main de carte entre 2 et 52 !</label>
  <input name="iCards" type="number" min="2" max="52" >
  <input class="btn btn-success" type="submit" value="Tirer !">
<form>

<h1> Carte alétoires  </h1>
{% for uCard in unorderCards %}
  <h2> {{uCard.ordre.prio}} {{uCard.color.name}} <h2>
{% endfor %}

<hr>

<h1> Carte triées </h1>
{% for oCard in orderCards %}
  <h2> {{oCard.ordre.prio}} {{oCard.color.name}}   <h2>
{% endfor %}
{% endblock %}
